{% extends "base.html" %}

{% block content %}
<h1> This is a Premier League Table</h1>
<!-- 
adfjadkjf 
<table definition>
{for team in teams}
<TABLE DATA> FROM TEAM
{ENDFOR}

-->

<table style="border: 1px solid;">
    <thead>
        
    </thead>
</table>

<!-- <table style="border: 1px solid;">
    <thead>
        <tr>
            Teams
        </tr>
        <tr>
            Wins
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Arsenal</td>
            <td>2</td>
        </tr>
        <tr>
            <td>Chelsea</td>
            <td>3</td>
        </tr>
    </tbody>
</table> -->

{% endblock content %}